<h2>My Skills</h2>
<section class="tech">
    <div class = "item">
        <div class = "describe">
            LINUX
        </div>
        <div class="progress">
            <span class="yellow" style="width: 80%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            SHELL
        </div>
        <div class="progress">
            <span class="green" style="width: 68%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            GIT
        </div>
        <div class="progress">
            <span class="blue" style="width: 60%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            HOW TO'S
        </div>
        <div class="progress">
            <span class="red" style="width: 70%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            PYTHON
        </div>
        <div class="progress">
            <span class = "darkblue" style="width: 10%;"></span>
        </div>
    </div>
    <!-- <div class = "item">
        <div class = "describe">
            TROUBLESHOOTING LINUX
        </div>
        <div class="progress">
            <span class="grey" style="width: 70%;"></span>
        </div>
    </div> -->
</section>
